*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.wrapper{
    width: 600px;
    padding: 20px 25px;
    margin: 5px auto;
    border-radius: 15px;
    background: rgba(0,0,0, .4);
    backdrop-filter: blur(50px);
    border: 3px  solid rgb(255, 253, 253, 0.6);
}
.wrapper h2{
    color: #fff;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 8px;
    text-align: center;
}
.wrapper h4{
    padding-bottom: 7px;
    color: #fff;
    font-size: 21px;
}
.input_group{
    margin: 5px auto;
    width: 100%;
    position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
   





